body {
  background-color: #398ab9;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;

  .App {
    padding: 20px;
    color: #ccc;
    width: 600px;

    .toggle {
      background-color: #f7ede2;
      padding: 10px;
      border-radius: 10px;
      width: 150px;
      font-size: 1.2rem;
    }
    .toggle:hover {
      background-color: #fde2e4;
      color: #495057;
    }

    .jobs {
      .job {
        background-color: #222;
        padding: 20px;
        margin: 10px 0 20px 0;
        border-radius: 10px;

        .header {
          display: flex;
          justify-content: space-between;
          padding: 10px;

          .position {
            a {
              color: rgb(192, 111, 45);
              text-decoration: none;
            }
            a:hover {
              color: black;
            }
          }

          .status {
            background-color: #f7ede2;
            padding: 3px;
            border-radius: 10px;
            width: 100px;
            font-size: 0.9rem;
          }
          .status:hover {
            background-color: #fde2e4;
            color: #495057;
          }
        }

        .skills {
          color: rgb(203, 203, 87);
          padding: 10px;
        }

        .bulkText {
          font-size: 0.9rem;
          padding: 10px;
        }
      }

      .job.send {
        background-color: rgb(70, 72, 70);
      }

      .job.wait {
        background-color: rgb(79, 79, 14);
      }

      .job.interview {
        background-color: rgb(61, 22, 22);
      }

      .job.declined {
        background-color: #000;

        .position {
          a {
            color: #222;
          }
        }

        .skills {
          color: #222;
        }
      }

      .job.accepted {
        background-color: #40916c;
      }
    }

    ul.jobsList {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      li.job {
        text-align: center;
        margin: 10px;
        padding: 10px;
        background-color: whitesmoke;
        width: 130px;
        height: 60px;
        border-radius: 10px;
        list-style-type: none;

        a {
          color: rgb(192, 111, 45);
          text-decoration: none;
        }
        a:hover {
          color: black;
        }
      }
    }
  }
}
